name: 'build-test'
on: # rebuild any PRs and main branch changes
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master
      - 'releases/*'
env:
  ACTIONS_RUNNER_DEBUG: true
  MYGITHUBTOKEN: '${{ github.token }}'
  DEBUG: 'axios'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run an ls -l
        run: ls -lR
        working-directory: '${{ github.workspace }}'
      - uses: ./
        with:
          token: '${{ github.token }}'

        
